
# Large data files
data/*

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built-in compression methods
*.7z
*.dmg
*.gz
*.iso
*.rar
*.tar
*.zip
*.gzip

# PyCharm files #
#############
.idea/*
/.idea/*

# tmp files #
#############
tmp/*

# Compiled source #
###################
*.com
*.dll
*.exe
*.o
*.class
*.so

# virtual env, developer notes, etc. #
#############
local_resources/*
logs/*
env/*

### Python ###
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
pip-wheel-metadata/
share/python-wheels/
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# PyInstaller
#  Usually these files are written by a python script from a template
#  before PyInstaller builds the exe, so as to inject date/other infos into it.
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
.coverage
coverage.xml
htmlcov/
.tox/
.nox/
.coverage.*
.cache
nosetests.xml
*.cover
.hypothesis/
.pytest_cache/

